.spacex-info-header {
  font-weight: normal;
}

.upcoming-container {
  margin: 0.69rem;
}

.upcoming-container h3 {
  margin: 0.25rem;
  padding-bottom: 0.25rem;
  color: white;
  font-variant: small-caps;
}
