.countdown-ticker h1 {
  font-family: "Electrolize";
  font-style: normal;
  font-variant: normal;
  letter-spacing: 0.12rem;
}

.countdown-ticker {
  display: flex;
  flex-direction: row;
  /* Ensure the ticker fills all of the parents remaining height with margin */
  margin: auto;
  color: white;
  /* Take up as much space width as the parent allows us to */
  width: 100%;
  /* Center within the container */
  justify-content: center;
}
