.upcoming-launch-table {
  border-style: double;
  border-color: #005c22;
  border-width: 4px;
}

.upcoming-launch-row td {
  font-family: "Abel";
  font-size: medium;
  border-bottom: none;
}

.upcoming-launch-row-expanded td {
  border-color: #005c22;
}

.upcoming-launch-header th {
  border-color: #005c22;
  font-family: "Space Mono";
  /* font-weight: bold; */
  font-variant-caps: all-small-caps;
  font-size: large;
  letter-spacing: 1px;
}
