.countdown-container {
  display: flex;
  flex-direction: column;
  padding: 0.69rem;
  /* Make the container scrollable if it overflows instead of clipping */
  overflow-x: auto;
  /* Take up half of the screen for countdown */
  height: 50vh;
}

.content-container {
  margin: 0.69rem;
}

.content-container h3 {
  margin: 0.25rem;
  padding-bottom: 0.25rem;
  color: white;
  font-variant: small-caps;
}
