.countdown-container {
  display: flex;
  flex-direction: column;
  padding: 0.69rem;
  /* Make the container scrollable if it overflows instead of clipping */
  overflow-x: auto;
  /* Take up half of the screen for countdown */
  height: 50vh;
}

.content-container {
  margin: 0.69rem;
}

.content-container h3 {
  margin: 0.25rem;
  padding-bottom: 0.25rem;
  color: white;
  font-variant: small-caps;
}

.footer {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer a {
  color: green;
  text-decoration: none;
}

/* CSS Source code from https://github.com/tholman/github-corners */
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
