.crew {
  padding: 0.25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.crew-member {
  display: flex;
  flex-direction: column;
  margin: 5px;
  align-items: center;
}

.crew-member img {
  border-color: #00481a;
  border-width: 1px;
  border-radius: 10px;
  border-style: solid;
  width: 125px;
  height: 150px;
}

.crew-member-name {
  padding-top: 0.69r;
  font-family: "Space Mono";
  font-variant: small-caps;
  font-size: large;
}
